h2 {
	position: relative;

	.anchor {
		position: absolute;
		left: -1.5rem;
		visibility: hidden;
		padding-right: 0.67rem;

		&:hover {
			visibility: unset;
			text-decoration: none;
		}
	}

	&:hover {
		.anchor {
			visibility: unset
		}
	}
}
